@model HandleErrorInfo

@section TitleSection{
    خطا
}

@section HeaderSection{

}
@section ContentBody{
    <div class="row">
        <div class="col-md-8">
            <hgroup>
                <h2>خطا</h2>
                <h3>خطایی به هنگام درخواست شما رخ داده است</h3>
            </hgroup>
        </div>
    </div>
}
